* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Sans", serif;
}

body {
    background-color: rgba(245, 245, 245, 1);
}

/* common-styles */
.primary-width {
    width: 1280px;
}

.primary-margin {
    margin-left: auto;
    margin-right: auto;
}

.center-align {
    text-align: center;
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}

.margin-left {
    margin-left: 32px;
}

.margin-right {
    margin-right: 32px;
}

.table-data {
    font-size: 16px;
    font-weight: 600;
    color: rgba(14, 14, 14, 1);
}

.select-option {
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    color: rgba(14, 14, 14, 1);
    background-color: rgba(198, 228, 214, 1);
    border: 1px solid rgba(14, 14, 14, 1);
    padding-left: 12px;
    padding-top: 16px;
    padding-bottom: 16px;
    cursor: pointer;
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-item: center;
}

.navbar-content-title {
    font-size: 32px;
    font-weight: 700;
    margin-top: 31px;
    margin-bottom: 31px;
    color: rgba(14, 14, 14, 1);
}

.navbar-content-button {
    font-size: 18px;
    font-weight: 600;
    padding: 15px 30px;
    border: 1px solid rgba(0, 106, 80, 1);
    border-radius: 8px;
    margin-top: 24px;
    margin-bottom: 24px;
    cursor: pointer;
    color: rgba(0, 106, 80, 1);

}

/* main section */

/* banner style */

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 560px;
    background-color: rgba(198, 228, 214, 1);
    border-radius: 24px;
}

.banner-content {
    background-color: rgba(198, 228, 214, 1);
    margin: 117px 60px;
}

.banner-content-subtitle {
    font-size: 24px;
    font-weight: 500;
    color: rgba(14, 14, 14, 0.5);
}

.banner-content-title {
    font-size: 56px;
    font-weight: 700;
    color: rgba(14, 14, 14, 1);
    margin-top: 16px;
    margin-bottom: 24px;
}

.banner-content-button {
    background-color: rgba(0, 106, 80, 1);
    padding: 17px 34px;
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    border: none;
}

/* card-section styles */

.card-section {
    margin-top: 80px;
    margin-bottom: 80px;
}

.card-section-cards {
    display: flex;
    gap: 24px;
}

.card-section-card {
    width: 302px;
    padding: 24px;
    background-color: white;
    border-radius: 16px;
}

.card-section-card:hover {
    background-color: rgb(164, 209, 211);
    transition: 0.5s;
}

.card-section-title {
    font-size: 40px;
    font-weight: 700;
    color: rgba(14, 14, 14, 1);
    margin-bottom: 32px;
}

.card-section-card img {
    margin-bottom: 24px;
}

.card-section-card h3 {
    color: rgba(14, 14, 14, 0.8);
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 12px;
}

.card-section-card p {
    color: rgba(14, 14, 14, 0.7);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

/* vision-section styles */

/* .vision-section {} */

.vision-section-title {
    font-size: 40px;
    font-weight: 700;
    color: rgba(14, 14, 14, 1);
}

.vision-section-description {
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
    line-height: 24px;
}

.vison-section-cards {
    display: flex;
    gap: 24px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.vison-section-cards>div {
    max-width: 410px;
}

.vison-section-cards>div:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out
}

.vision-section-card-1 {
    padding: 32px;
    background-color: rgba(84, 144, 245, 0.2);
    border-radius: 16px;
}

/* .vision-section-card-1-image {} */

.vision-section-card-1-title {
    margin-top: 24px;
    font-size: 20px;
    font-weight: 700;
    color: rgba(14, 14, 14, 0.8);
}

.vision-section-card-1-description {
    margin-top: 12px;
    margin-bottom: 24px;
    line-height: 24px;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    font-weight: 400;
}

.vision-section-card-1-button {
    padding: 11px 20px;
    font-size: 16px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    border: none;
    background-color: rgba(84, 144, 245, 1);
    border-radius: 8px;
    cursor: pointer;
}

.vision-section-card-2 {
    padding: 32px;
    background-color: rgba(198, 228, 214, 1);
    border-radius: 16px;
}

/* .vision-section-card-2-image {} */

.vision-section-card-2-title {
    margin-top: 24px;
    font-size: 20px;
    font-weight: 700;
    color: rgba(14, 14, 14, 0.8);
}

.vision-section-card-2-description {
    margin-top: 12px;
    margin-bottom: 24px;
    line-height: 24px;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    font-weight: 400;
}

.vision-section-card-2-button {
    padding: 11px 20px;
    font-size: 16px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    border: none;
    background-color: rgba(9, 161, 92, 1);
    border-radius: 8px;
    cursor: pointer;
}

.vision-section-card-3 {
    padding: 32px;
    background-color: rgba(247, 235, 207, 1);
    border-radius: 16px;
}

/* .vision-section-card-3-image {} */

.vision-section-card-3-title {
    margin-top: 24px;
    font-size: 20px;
    font-weight: 700;
    color: rgba(14, 14, 14, 0.8);
}

.vision-section-card-3-description {
    margin-top: 12px;
    margin-bottom: 24px;
    line-height: 24px;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    font-weight: 400;
}

.vision-section-card-3-button {
    padding: 11px 20px;
    font-size: 16px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    border: none;
    background-color: rgba(255, 194, 57, 1);
    border-radius: 8px;
    cursor: pointer;
}

/* quote section style */

.quote {
    padding: 48px 24px;
    background-color: white;
    border-radius: 16px;
    margin-top: 32px;
    margin-bottom: 80px;
    background-image: url('../assets/quote-bg.png');
    background-repeat: no-repeat;
    background-position: 24px 25px;
}

.quote-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 16px;
}

.quote-title {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 4px;
}

.quote-subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.8);
}

/* opinion section styles */
.opinion-container {
    margin-top: 80px;
    margin-bottom: 80px;
}

.opinion-container-title {
    font-size: 40px;
    font-weight: 700;
    color: rgba(14, 14, 14, 1);
    margin-bottom: 24px;


}

.table-main-div {
    padding: 32px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 16px;
}

.opinion-container-table {
    width: 100%;
    border-collapse: collapse;

}

.opinion-container-table thead {
    background-color: rgba(198, 228, 214, 1);
}

.opinion-container-table th,
td {
    padding: 37px 24px;
    border: 1px solid rgba(14, 14, 14, 0.15);

}

/* .opinion-container-table tr {} */

.table-head {
    font-size: 20px;
    font-weight: 600;
    color: rgba(14, 14, 14, 1);
}

/* recent-news-section styles */

/* .recent-news{

} */
.recent-news-title {
    font-size: 40px;
    font-weight: 700;
    color: rgba(14, 14, 14, 1);
    margin-bottom: 24px;
}

.recent-news-description {
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
    line-height: 24px;
    margin-bottom: 32px;
}

/* .recent-news-cards{

} */
.recent-news-card {
    display: flex;
    padding: 48px;
    background-color: rgba(255, 255, 255, 1);
    margin-bottom: 24px;
    border-radius: 24px;
}

.recent-news-card-part1 img {
    border-radius: 24px;
}

.recent-news-card-part2 {
    margin-top: 8px;
}

.recent-news-card-title {
    font-size: 32px;
    font-weight: 700;
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 12px;
}

/* .recent-news-card-subtitle{

} */
.recent-news-card-datetime {
    display: flex;
    gap: 12px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
    margin-top: 12px;
    margin-bottom: 12px;
}

.recent-news-card-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 32px;
}

.recent-news-card-button {
    padding: 13px 26px;
    border-radius: 8px;
    background-color: rgba(0, 106, 80, 1);
    color: white;
    font-size: 18px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

/* donate-section-style */

.donate{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;
}
.donate-title{
    font-size: 40px;
    font-weight: 700;
    color: rgba(14, 14, 14, 1);
    margin-bottom: 24px;
}
.donate-description{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 32px;
    color: rgba(14, 14, 14, 0.7);
}
.donate-cards{
    display: flex;
    gap: 24px;
    margin-bottom: 32px;
}
.donate-card{
    padding: 40px;
    font-size: 40px;
    font-weight: 700;
    background-color: white;
    border-radius: 15px;
    color: rgba(14, 14, 14, 0.8);
}
.donate-card:hover{
    background-color: rgba(198, 228, 214, 1);
    transition: 0.5s;
}
.donate > input{
    width: 1032px;
    padding: 20px 420px;
    font-size: 20px;
    font-weight: 400;
    border: none;
    margin-bottom: 32px;
}
.donate > button{
    padding: 17px 34px;
    border: none;
    background-color: rgba(0, 106, 80, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 8px;
}

/* newslatter section styles */
.newslatter{
    padding: 80px 265px;
    background-color: rgba(198, 228, 214, 1);
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 80px;
    border-radius: 24px;
}
.newslatter-title{
    font-size: 40px;
    font-weight: 700;
    color: rgba(14, 14, 14, 1);
    margin-bottom: 24px;
}
.newslatter-description{
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 16px;
}
.newslatter-input-button{
    display: flex;
    flex-direction: row;
}
.newslatter-input-button > input{
    padding: 18px 403px 18px 40px;
    color: rgba(14, 14, 14, 0.3);
    font-size: 16px;
    font-weight: 400;
    border: none;
    border-radius: 8px 0 0 8px;
}
.newslatter-input-button > button{
    padding: 17px 34px;
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 600;
    background-color: rgba(0, 106, 80, 1);
    border: none;
    border-radius: 0 8px 8px 0;
    cursor: pointer;

}
.newslatter-footer{
 font-size: 16px;
 font-weight: 400;
 color: rgba(14, 14, 14, 0.7);
 margin-top: 24px;
}

/* footer section styles */

.footer{
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}
.footer-title{
    font-size: 32px;
    font-weight: 700;
    color: rgba(14, 14, 14, 1);
}

.footer > hr{
    color:rgba(14, 14, 14, 0.1);
    width: 1122px;
}
.footer-icons{
 display: flex;
 gap: 23px;
}